@font-face {
    font-family: Cousine;
    src: url(../fonts/Cousine-Regular.ttf);
}
@font-face {
    font-family: Cousine;
    src: url(../fonts/Cousine-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Cousine;
    src: url(../fonts/Cousine-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Cousine;
    src: url(../fonts/Cousine-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
body {
    font-family: 'Verdana';
    background-image: repeating-linear-gradient(to right, white 0px, 
    bisque 5px, white 10px);
    margin: 0px;
}
header {
  background-color: white;
  height: 135pt;
  margin-bottom: 20pt;
}
.pos1, .pos2, .pos3 {
  position: absolute;
}
.pos1 {
  left: 0pt;
  top: 0pt;
  width: 100pt;
}
.pos2 {
  left: 140pt;
  top: 84pt;
  right: 0pt;
}
.pos3 {
  left: 140pt;
  top: 55pt;
  right: 30pt;
}
.pos4 {
  right: 20pt;
  top: 0pt;
}
.pos1 img {height: 100pt;}
p {font-size: 14pt !important;}
address {font-size: 12pt;}
p.greeting {font-size: 24pt;}
.pos2 h1 {
  font: bold italic 42pt Verdana;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 5pt;
  margin: 0px;
  background-color: darksalmon;
}
.pos3 h1 {
  font: bold 24pt Verdana;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 6pt;
  margin: 0px;
  color: darksalmon;
}
/* comment section in CSS */
.advertising div {
                margin-left: 30pt;
                font-size: 12pt;
                margin-top: 5pt;
                margin-bottom: 5pt;}

main {
    text-align: justify;
    margin-left: 210px;
}
footer {
    text-align: right;
    background-color: white;
    height: 120pt;
    position: relative;
}
.pos5 {
  background-color: darksalmon;
  position: absolute;
  left: 30pt;
  top: 28pt;
  width: 100pt;
}
.pos5 p {
  font: bold 16pt Verdana;
  text-align: center;
}
div.pos5 a:link {
  text-decoration: none;
  color: white;
}
.bigger {font-size: 16pt;}
table.pricelist th, table.pricelist td {
    border: grey thin solid;
    padding: 4px;   /* padding creates space between each table's cell */

}
table.catalog {border-collapse: collapse;} /* means не рисовать рамку вокруг ячеек, а проводить между ними линии */
table.catalog td {
    border-top: black thin dotted;
    border-bottom: black thin dotted;
    padding: 20px;
}
table.catalog img {width: 250px;}
table.pricelist thead th {
    color: white;
    background-color: grey;
}
table.pricelist tfoot td {
    font-style: italic;
    text-align: right;
    background-color: lightgrayo;
}
table.pricelist tbody th {
    color: black;
    background-color: lightgray;
}
nav {
    float: left;
    width: 150px;
    margin: 10px 30px 10px 10px;
    margin-left: 210px;
    padding-bottom: 20px;
    padding-left: 15px;
    box-shadow: 0px 0px 5px 5px white,
    0px 0px 5px 5px white inset;
}
nav div a, nav a {
    font-size: 20pt;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
}
nav a {display: block;}
table.catalog tr:first-child td {border-top: none;}
table.catalog tr:last-child td {border-bottom: none;}

table.catalog td p:first-of-type::first-letter {
    font-size: 24pt;
}

p::selection {
color:black;
background-color: orange;
}
table.pricelist tbody th[colspan] {
    text-align: center;
}
table.pricelist tbody td:last-child:not(:only-child) {
    border: none;
    background-color: rgb(231, 231, 231);
}
table.catalog h3 {
    font-family: "Cousine";
    font-size: 24pt;
}
table.catalog p {
    font-family: "Cousine";
}
table.catalog h3::after {
    content: ":"; 
    font-size: 18pt;
}

table.catalog h3 {
    font-variant: small-caps;
    text-transform: capitalize;
    letter-spacing: 2pt;
     
}
table.catalog p::first-letter {
    vertical-align: text-top;
}
p.greeting {
    border-top: medium dashed darkgrey;
    border-width: 2px;
}
ol {
    list-style-type: upper-roman;
}
table.catalog {
    width: 70%;
    min-width: 12cm;
}
table.catalog td:first-child {
    width: 50%;
}
table.catalog td img {
    width: 100%;
}
nav a:link, nav a:visited {
    color: darkred;
    text-decoration: none;
}
nav a:active, nav a:hover {
    color: darksalmon;
}
p.bottom {
    border-top: medium dashed darkgrey;
    border-width: 3px;
}
form {
    width: 400px;
    padding: 0px 20px;
    border: thin dotted darkgrey;
    border-radius: 20px;
}
input, select {
    font: 14pt Courier;
    padding: 5px;
    border: medium solid black;
    border-radius: 10px;
}
input[type=submit] {
    font: bold 20pt Verdana;
    text-transform: uppercase;
    width: 250px;
    border: thick solid black;
    border-radius: 0px;
}
input[type=image] {
    border-style: none;
}
input:focus {
    border-color: white;
    background-color: lightskyblue;
}
input:valid {
    border-color: green;
}
input:invalid {
    border-color: red;
}
input::placeholder {
    font-style: italic;
    text-align: center;
}